/** {
	border: 1px solid red;
}*/
html {
	background: url("../imgs/quiz-background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
body {
	font-family: 'Josefin Sans', sans-serif;
	max-width: 60em;
	min-height: 100%;
	box-shadow: 0 0 10px black;
	background-color: rgba(150, 150, 150, 0.65);
	margin: 0 auto;
	position: relative;
}
a,
button {
	outline: none;
}
ul,
ol {
	padding-left: 0;
}
.content {
	width: 60rem;
	margin: 0 auto;
}
.quiz-header,
.game-container {
	text-align: center;
}
.center-text {
	text-align: center;
}
.hide-content {
	visibility: hidden;
}
/*Splash Screen*/


/*Header Content*/

.quiz-header {
	min-width: 60em;
	position: relative;
	padding-bottom: 2em;
}
.quiz-banner {
	top: 0;
	z-index: 1
}
.quiz-header,
.quiz-banner {
	height: 14em;
}
.quiz-banner,
.quiz-title {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.quiz-title {
	font-size: 35pt;
	bottom: 0.5em;
	color: white;
	text-shadow: 1px 1px 2px #333;
}

/*Quiz Content*/

.game-container {
	height: 100%;
}
.quiz-question {
	padding-top: 30px;
	margin-bottom: 4em;
}
.quiz-answers {
	margin: 0 auto;
	width: 34.375em;
}
.quiz-answers li {
	list-style: none;
	display: inline-block;
	margin: 1em;
	border-radius: 25px;
}
.quiz-answers li .answer {
	font-weight: 600;
	width: 12.5em;
	height: 3.125em;
	background-color: rgba(211, 211, 211, 1);
	border: 1px solid rgba(255, 255, 255, 1);
	border-radius: 25px;
	box-shadow: 1px 1px 2px #aaa;
	padding: 0;
}
.quiz-answers li .answer:hover {
	background-color: rgba(230, 230, 230, 1);}
.quiz-progress {
	margin-top: 5em; 
}
.quiz-progress .progress-bar {
	/*border: 1px solid red;*/
	width: 400px;
	height: 4.5em;
	border-radius: 50px;
	margin: 0 auto;
	box-shadow: 0px 0px 6px black;
	border: 1px solid rgba(230, 230, 230, 1);
}
.quiz-progress .progress-bar > div {
	display: inline-block;
	margin: 0 -1.85px 50px;
}
.quiz-progress .progress-bar .first {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}
.quiz-progress .progress-bar .last {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
.quiz-progress h3 {
	margin-top: 4em;
}

/*Answer Screen*/

.answer-container {
	width: 40em;
	margin: 0 auto;
}
.answer-container hr {
	border: 1px solid black;
}
.next-question {
	font-weight: 600;
	width: 12.5em;
	height: 3.125em;
	background-color: rgba(211, 211, 211, 1);
	border: 1px solid rgba(255, 255, 255, 1);
	border-radius: 25px;
	box-shadow: 1px 1px 2px #aaa;
	padding: 0;
}